[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchsde = "*"
torch = "*"
fire = "*"
matplotlib = "*"
numpy = "*"
tqdm = "*"
black = "*"

[dev-packages]

[requires]
