[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
fire = "*"
matplotlib = "*"
numpy = "*"
tqdm = "*"
black = "*"
tikzplotlib = "*"
torchsde = {editable = true, ref = "master", git = "https://github.com/glatteis/torchsde"}
pandas = "*"
kramersmoyal = "*"

[dev-packages]

[requires]
